<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="BlazoriseMyGet" value="https://www.myget.org/F/blazorise/api/v3/index.json" />
    <add key="AElfMyGet" value="https://www.myget.org/F/aelf-project-dev/api/v3/index.json" />
    <add key="aelfLocal" value="http://192.168.66.111:8081/repository/nuget-group/index.json"/>
  </packageSources>
</configuration>